/* Color Theme used... Baixo contraste on adobe Kuler, slightly modified*/
$custom-color-1: rgb(255, 112, 109);
$custom-color-2: rgb(255, 179, 65);
$custom-color-3: rgb(204, 189, 49);
$custom-color-4: rgb(91, 218, 142);
$custom-color-5: rgb(110, 168, 255);
$custom-color-6: rgb(199, 96, 202);
$custom-color-7: rgb(104, 51, 172);
