/* Color Theme used... Baixo contraste on adobe Kuler, slightly modified*/
$custom-color-1: rgb(255, 112, 109);
$custom-color-2: rgb(248, 180, 77);
$custom-color-3: rgb(235, 221, 98);
$custom-color-4: rgb(128, 245, 174);
$custom-color-5: rgb(110, 168, 255);
