:root {
  --red: #{$custom-color-1};
  --orange: #{$custom-color-2};
  --gold: #{$custom-color-3};
  --green: #{$custom-color-4};
  --blue: #{$custom-color-5};
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;

  background-color: $custom-color-1;
  animation: reveal 2s;
}
