:root {
  --color-red: #{rgb-format($custom-color-1)};
  --color-orange: #{rgb-format($custom-color-2)};
  --color-gold: #{rgb-format($custom-color-3)};
  --color-green: #{rgb-format($custom-color-4)};
  --color-blue: #{rgb-format($custom-color-5)};
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  //intial app bg-color
  --appBackgroundColor: "";

  text-align: center;

  background-color: var(--appBackgroundColor);
  transition: background-color 0.5s;
  animation: reveal 2s;
}
