// @import url("https://fonts.googleapis.com/css?family=Carter+One|Muli&display=swap");

body {
  color: #fff;
  font-size: 1.5rem;

  font-family: "Muli", sans-serif;
}

.author-box {
  font-family: "Carter One", cursive;
  font-size: 1.2rem;
}
